# Django
DJANGO_SETTINGS_MODULE=stafflane.settings
SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=*

# Database (used by compose to form DATABASE_URL)
POSTGRES_DB=stafflane
POSTGRES_USER=stafflane
POSTGRES_PASSWORD=stafflane

# Optional: storage/other
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_STORAGE_BUCKET_NAME=

# Redis Cache
REDIS_PASSWORD=stafflane
REDIS_URL=redis://:stafflane@redis:6379/0
